*{
    margin: 0;
    padding: 0;
}
.one{
    background-color: rgb(202, 227, 227);
    
}
.header{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.head h1{
    padding-top: 20px;
}
li{
    display: inline-block;
    padding: 0 20px;
}
li:hover{
    color: blue;
}
.hire button{
    color: blue;
    border-radius: 20px;
    background-color: rgb(202, 227, 227) ;
}
.hire button:hover{
    background-color: blue;
    color: white;

}

.content{
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.content2 h2{
    padding-top: 10px;
   padding-left: 40px;
   padding-right: 40px;
}
.content2 p{
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;

}
.btn button{
    padding-bottom: 10px ;
    background-color: blue;
    color: white;
    border-radius: 20px;
    width: 200px;
}
.btn button:hover{
    background-color: transparent;
    color: blue;
}
hr{
    margin: 15px 110px 0 110px;
    padding: 1px;
    background-color: blue;
    border: none;
    border-radius: 20px;
}
.box2 hr{
    margin: 15px 110px 0 110px;
    padding: 1px;
    background-color: white;
    border: none;
    border-radius: 20px;
}
.boxes{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 60px;
   
}
.box1,.box3{
    border: 1px solid red;
    width: 250px;
    height: auto;
    padding: 20px ;
    text-align: center;
    border: none;
}
.box1:hover,.box3:hover{
    background-color: blue;
    color: white;
    border-radius: 20px;
}
.box2{
    border: 1px solid blue;
    width: 250px;
    background-color: blue;
    color: white;
    height: auto;
    padding: 20px ;
    text-align: center;
    border: none;
    border-radius: 20px;
}
.box2:hover{
    background-color: transparent;
    color: blue;
}
.two{
    margin: 20px 50px;
}
.two h1{
    padding: 40px 0;
    text-align: center;
}
.box2 p{
    padding: 20px 0;
}
.box1 p,.box3 p{
    padding: 20px 0;
}

.three{
    background-color: rgb(202, 227, 227);
    padding-bottom: 20px;
}
.three h3{
    text-align: center;
    padding-top: 60px;
}

.branding{
    border: 1px solid blue;
    width: 310px;
    background-color: blue;
    color: white;
    height: 260px;
    padding: 20px ;
    text-align: center;
    border: none;
    margin-top: 80px;
    border-radius: 0 0 40% 0;
    
}
.branding p{
    padding-top: 60px;
}
.branding h2{
    padding-top: 10px;
}
.issa{
    border: 1px solid blue;
    border-radius: 40% 0 0 0;
    overflow:hidden;
    border: none;
}
.branding hr{
    margin: 15px 110px 0 110px;
    padding: 1px;
    background-color: white;
    border: none;
    

}
.container{
    margin: 40px 80px; 
     

}
.ptfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
        
}
.sec{
    padding-top: 80px;   
}
.four{
    margin: 60px 80px;

}
.four4{
    display: flex;
    justify-content: space-between;
}
.four4 p{
    padding-top: 10px;
}
button{
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
    color: blue;
    border-color: blue;
    background-color: white;
}
button:hover{
    background-color: blue;
    color: white;
}
.five{
    background-color: rgb(202, 227, 227);
}
.five5{
    margin: 60px 80px;
    text-align: center;
    padding: 80px;
    margin-bottom: 60px;

}
.client{
    padding-top: 20px;
}
.client img{
    border: 2px solid white;
    border-radius: 100%;
    overflow: hidden;
}
.down{
    padding-top: 20px;
}
.six{
    margin: 60px 80px;
}
.six6{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.search-box input{
    border-radius: 20px;
    height: 30px;
    padding: 10px;
    background-color: rgb(201, 201, 209); 
}
.icons{
    display: flex;
    justify-content: center;

}
.icons img{
    padding:40px 10px 0 10px;
}
.icon img:hover{
    
    
}
.footer hr{
    margin: 0;
    background-color: black; 
}
.footer p{
    text-align: center;
    padding: 20px;
}




